asgiref==3.2.3
aylien-apiclient==0.7.0
aylien-news-api==3.0.0
certifi==2019.11.28
chardet==3.0.4
Django==3.0.7
django-cors-headers==3.2.1
django-extensions==2.2.6
djangorestframework==3.11.0
django-filter==2.2.0
httplib2==0.18.0
idna==2.8
psycopg2-binary==2.8.4
#pygraphviz==1.5 # brew install graphviz
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.8
vaderSentiment==3.2.1
numpy==1.18.2